#head{
	width: 100%;
	height: 30px;
	background-color: rgb(241, 241, 241);
	line-height: 30px;
	color: rgb(102, 102, 102);
}
#head li{
	float: left;
	list-style: none;
}
#head a:hover{
	color: #C81623;
	cursor: pointer;
}
#head #hl{
	float: left;
	position: relative;
}
#head #hl>.adress>div{
	 z-index: 100;
	position: absolute;
	padding-left: 10px;
	width: 90px;
	border-left: 1px solid rgb(241, 241, 241);
}
#head #hl>.adress i{
	display: inline-block;
}
#head #hl>.adress>.hover{
     background-color: #fff;
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     border-bottom: 1px solid #FFF;
}
#head #hl>.all-adress{
	width: 312px;
	position: absolute;
	top: 30px;
	z-index: 99;
	background-color: #fff;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid #ddd;
}
#head #hl>.all-adress>div{
	height: 24px;
	line-height: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
    display: inline-block;
    width: 60px;
}
#head #hl>.all-adress>div>a{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
#head #hl>.all-adress>div>a:hover{
	background-color: rgb(241, 241, 241);
}
#head #hr{
	float: right;
}
#head #hr>li>div{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
#head #hr .phone-jingdong span{
    display: inline-block;
    width: 15px;
    height: 20px;
    background-image: url(../images/jd2015img.png);
    background-position: 0 0;
    position: relative;
    top: 4px;
}
#head #hr .cutline{
	height: 12px;
	width: 1px;
	background-color: #ddd;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	top: 9px;
	margin-left: 1px;
	margin-right: 1px;
}
#head #hr .free-signup{
	color: #C81623;
	padding-left: 0;
}
#head #hr .my-jingdong{
	position: relative;
}
#head #hr .my-jingdong>.my-jd-t{
	position: relative;
	border-left: 1px solid rgb(241, 241, 241);
	border-right: 1px solid rgb(241, 241, 241);
	z-index: 11;
}
#head #hr .my-jingdong>.hover{
     background-color: #fff;
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     border-bottom: 1px solid #FFF;
}
#head #hr .my-jingdong>.my-jd-b{
	width: 280px;
	z-index: 10;
	position: absolute;
	top: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
}
#head #hr .my-jingdong .please-login{
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
}
#head #hr .my-jingdong .please-login>div:first-child>a{
	display: inline-block;
	background-image: url(../images/no-img_mid_.jpg);
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
}
#head #hr .my-jingdong .please-login>div:nth-child(2){
	padding-left: 82px;
}
#head #hr .my-jingdong .please-login>div:nth-child(2)>a{
	font-weight: bold;
}
#head #hr .my-jingdong .please-login>div:nth-child(3){
	padding-left: 82px;
}
#head #hr .my-jingdong .please-login>div:nth-child(3)>span{
	display: inline-block;
	width: 1px;
	height: 12px;
	margin: 0 13px;
	background-color: rgb(102, 102, 102);
	position: relative;
	top: 2px;
}
#head #hr .my-jingdong .otherlist{
	margin-top: 5px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}
#head #hr .my-jingdong .otherlist>div{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	width: 126px;
}
#head #hr .my-jingdong .footprint{
	padding: 10px 15px;
}
#head #hr .my-jingdong .footprint>.my-foot>a:first-child{
	font-weight: bold;
}
#head #hr .my-jingdong .footprint>.my-foot>a:last-child{
	float: right;
}
#head #hr .my-jingdong .footprint>.more{
	width: 50px;
	height: 50px;
	padding: 4px;
	background-image: url(../images/548e3d9dN13b6c305.jpg);
	background-repeat: no-repeat;
}
#head #hr .focus-jingdong{
	position: relative;
	z-index: 11;
}
#head #hr .focus-jingdong>.focus-jd-text{
	border-left: 1px solid rgb(241, 241, 241);
	border-right: 1px solid rgb(241, 241, 241);
    padding: 0 11px;
	z-index: 11;
}
#head #hr .focus-jingdong>.focus-jd-img{
	padding: 0;
	display: inline-block;
	position: absolute;
	top: 30px;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #ddd;
}
#head #hr .focus-jingdong>.hover{
	 position: relative;
	 background-color: #fff;
	 border-left: 1px solid #ddd;
	 border-right: 1px solid #ddd;
	 border-bottom: 1px solid #FFF;
}
#head #hr .customer-service{
	position: relative;
	z-index: 11;
}
#head #hr .customer-service>.customer-service-t{
	border-left: 1px solid rgb(241, 241, 241);
	border-right: 1px solid rgb(241, 241, 241);
	 z-index: 11;
}
#head #hr .customer-service>.customer-service-b{
	display: inline-block;
	position: absolute;
	top: 30px;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 160px;
	padding-right: 0;
}
#head #hr .customer-service dt{
	font-weight: bold;
}
#head #hr .customer-service dd{
	float: left;
	width: 80px;
	display: inline-block;
}
#head #hr .customer-service>div.hover{
	 position: relative;
	 background-color: #fff;
	 border-left: 1px solid #ddd;
	 border-right: 1px solid #ddd;
	 border-bottom: 1px solid #FFF;
}
#head #hr .site-map{
	position: relative;
	z-index: 11;
}
#head #hr .site-map>.site-map-t{
	border-left: 1px solid rgb(241, 241, 241);
	border-right: 1px solid rgb(241, 241, 241);
}
#head #hr .site-map>.site-map-b{
	padding: 20px 0 16px 0;
	width: 1210px;
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #ddd;
}
#head #hr .site-map dl{
	float: left;
	width: 259px;
	padding-left: 20px;
	border-left: 1px solid #ddd;
}
#head #hr .site-map dl:first-child{
	width: 340px;
}
#head #hr .site-map dt{
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
}
#head #hr .site-map dd{
	height: 24px;
	line-height: 24px;
	float: left;
	width: 85px;
	display: inline-block;
}
#head #hr .site-map>.hover{
	 position: relative;
	 z-index: 11;
	 background-color: #fff;
	 border-left: 1px solid #ddd;
	 border-right: 1px solid #ddd;
	 border-bottom: 1px solid #FFF;
}
/*search搜索一行*/
#search a:hover{
	color: #C81623;
	cursor: pointer;
}
#search li{
	float: left;
	list-style: none;
}
#search>.commonwidth>.jd-logo{
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 362px;
}
#search form{
	float: left;
	margin-top: 25px;

}
#search form>input{
	float: left;
	width: 446px;
	height: 24px;
	margin-bottom: 4px;
	border: 2px solid #B61D1D;
	padding: 4px;
}
#search form>button{
	float: right;
	width: 70;
	height: 36px;
	padding: 1px 25px;
	background-color: #B61D1D;
	border: none;
	color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    line-height: 36px;
}
#search>.commonwidth>.my-shop-cart{
    position: relative;
    float: right;
    margin-right: 65px;
    margin-top: 25px;
}
#search>.commonwidth>.my-shop-cart>.my-shop-cart-t{
	width: 139;
	padding: 6px 20px 10px 20px;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    position: relative;
	z-index: 9;
}
#search>.commonwidth>.my-shop-cart>.hover{
	background-color: #fff;
	border-bottom: 2px solid #fff;
}
#search>.commonwidth>.my-shop-cart>.my-shop-cart-t>div:first-child{
	position: relative;
	top: 4px;
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../images/jd2015img.png) 0 -58px no-repeat;
}
#search>.commonwidth>.my-shop-cart>.my-shop-cart-t>span:nth-child(2){
   display: inline-block;
   margin: 0 5px;
}
#search>.commonwidth>.my-shop-cart>.my-shop-cart-b{
	z-index: 8;
	background-color: #fff;
	padding: 10px 15px;
	width: 281px;
	position: absolute;
	top: 37px;
	right: 0;
	background-color: #fff;
	height: 49px;
	border: 1px solid #DFDFDF;
}
#search>.commonwidth>.my-shop-cart>.my-shop-cart-b>i{
	margin-left: 30px;
	display: inline-block;
	width: 56px;
	height: 49px;
	background-image: url(../images/settleup-nogoods.png);
	background-size: 56px 49px;
	background-repeat: no-repeat;
}
#search>.commonwidth>.my-shop-cart>.my-shop-cart-b>span{
	position: absolute;
	/*top: -16px;*/
	display: inline-block;
	height: 49px;
	font: 12px/150%,Arial,Verdana,"\5b8b\4f53";
	line-height: 49px;
	color: #999;
}
#search>.commonwidth>ul{
	float: left;
	height: 20px;
	line-height: 20px;
}
#search>.commonwidth>ul>li{
	padding-right: 10px;
}


/*classification一行*/
#classification{
	clear: both;
	height: 44px;
	border-bottom: 2px solid #B1191A;
}
#classification li{
	float: left;
	list-style: none;
}
#classification a:hover{
	color: #C81623;
	cursor: pointer;
}
#classification>.commonwidth{
	position: relative;
}
#classification>.commonwidth>.class-l{
   float: left;
   z-index: 10;
   position: absolute;
}
#classification>.commonwidth>.class-l>dt{
	width: 190px;
	height: 46px;
	background-color: #B1191A;
	padding: 0 10px;
}
#classification>.commonwidth>.class-l>dt>a{
	display: inline-block;
	line-height: 46px;
	height: 46px;
	font-family: 'Microsoft YaHei', tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif; 
	font-size: 16px;
    color: #fff;
}
#classification>.commonwidth>.class-l>dd{
	width: 189px;
	height: 31px;
	background-color: #c81623;
	padding: 0 10px;
    font-size: 14px;
    border-left: 1px solid #c81623;
}
#classification>.commonwidth>.class-l>dd:last-child{
	border-bottom: 1px solid #c81623;
}
#classification>.commonwidth>.class-l>dd>a{
    display: inline-block;
	height: 31px;
	line-height: 31px;
	font-family: 'Microsoft YaHei', tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
    color: #fff;
}
#classification>.commonwidth>.class-l>.hover{
	background-color: rgb(247,247,247);
}
#classification>.commonwidth>.class-l>.hover>a{
	color: rgb(182,29,29);
}
#classification>.commonwidth>ul:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
#classification>.commonwidth>ul{
	margin-left: 210px;
}
#classification>.commonwidth>ul>li{
	display: inline-block;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	font-family: 'Microsoft YaHei', tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
}
#classification>.commonwidth>.class-r{
	border-right: 1px solid #b61d1d;
	border-bottom: 1px solid #b61d1d;
	border-left: 1px solid #b61d1d;
	position: absolute;
	top: 46px;
	left: 209px;
	width: 997px;
	/*min-height:444px; */
	padding-left: 20px;
	padding-top: 20px;
	background-color: rgb(247,247,247);
    z-index: 9;
}
#classification>.commonwidth>.class-r>.text-classify{
	float: left;
}
#classification>.commonwidth>.class-r .hotClass span{
	float: left;
    background-color: #7C7171;
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}
#classification>.commonwidth>.class-r .hotClass i{
	float: left;
	width: 23px;
	height: 24px;
	line-height: 24px;
	margin-right: 10px;
	background-color: #5c5251;
	color: #fff;
    text-align: center;
}
#classification>.commonwidth>.class-r dl{
	clear: both;
}
#classification>.commonwidth>.class-r dt{
	height: 32px;
	line-height: 32px;
	text-align: right;
	float: left;
}
#classification>.commonwidth>.class-r dt>a>span{
	display: inline-block;
	padding: 0 8px;
	height: 32px;
	font-weight: bold;
}
#classification>.commonwidth>.class-r dt>a>i{
    display: inline-block;
    width: 23px;
    margin-right: 10px;
	text-align: center;

}
#classification>.commonwidth>.class-r dd{
	display: inline-block;
	width: 620px;
	border-top: 1px solid #eee;
}
#classification>.commonwidth>.class-r dl:first-child>dd{
	border-top: 0;
}
#classification>.commonwidth>.class-r dd>a{
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 8px;
	margin: 8px 0;
    border-left: 1px solid rgb(224, 224, 224); 
}
#classification>.commonwidth>.class-r>.img-classify{
	float: right;
	width: 168px;
	margin-right: 20px;
}
#classification>.commonwidth>.class-r>.img-classify>.img-top>a{
	float: left;
	display: inline-block;
	width: 83px;
	height: 35px;
	margin-left: 1px;
	margin-top: 1px;
}
#classification>.commonwidth>.class-r>.img-classify>.img-bottom>a:first-child{
	float: left;
	display: inline-block;
	height: 134px;
	margin-top: 10px;
	margin-bottom: 1px;
}
/*main*/
#main a:hover{
	color: #C81623;
	cursor: pointer;
}
#main>.commonwidth{
	position: relative;
	height: 466px;
}
#main>.commonwidth>.main-left{
	position: absolute;
	top: 12px;
	left: 220px;
	width: 730px;
}
#main>.commonwidth>.main-left li{
	position: absolute;
	z-index: 0;
	opacity: 0;
}
#main>.commonwidth>.order{
	position: absolute;
	z-index: 2;
	top: 444px;
	left: 535px;
}
#main>.commonwidth>.order li{
	float: left;
	height: 18px;
	line-height: 18px;
	width: 18px;
	background-color: rgb(62, 62, 62);
	border-radius: 50%;
	color: #fff;
	text-align: center;
	margin: 0 2px;
	cursor: pointer;
}
#main>.commonwidth>.order .foucus{
	background-color: #b61b1f;
}
#main>.commonwidth>.pre{
    position: absolute;
    z-index: 2;
    padding-top: 18px;
    padding-left: 5px;
    top: 200px;
	left: 220px;
	width: 23px;
	height: 44px;
	background-color: rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	font-size: 22px;
	cursor: pointer;
	-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
#main>.commonwidth>.next{
    position: absolute;
    z-index: 2;
    padding-top: 18px;
    padding-left: 5px;
    top: 200px;
	left: 922px;
	width: 23px;
	height: 44px;
	background-color: rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	font-size: 22px;
	cursor: pointer;
	-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
#main>.commonwidth>.main-left a{
	display: block;
}
#main>.commonwidth>.main-right{
	position: absolute;
	right: 0px;
	top: 12px;
	width: 248px;
	border: solid 1px #e4e4e4;
    border-bottom: 0;
}
#main>.commonwidth>.main-right>.kuaibao{
	padding-left: 15px;
	padding-right: 15px;
	height: 32px;
	border-bottom: 1px dotted #E8E8E7;
}
#main>.commonwidth>.main-right h2{
	float: left;
	font-family: 'microsoft yahei';
    font-size: 16px;
    color: rgb(102, 102, 102);
    font-weight: normal;
    height: 32px;
    line-height: 32px;
}

#main>.commonwidth>.main-right>.kuaibao a{
	display: block;
    height: 32px;
    line-height: 32px;
    float: right;
    padding-right: 20px;
}
#main>.commonwidth>.main-right>.kuaibao-content{
	padding-left: 15px;
	padding-top: 5px;
	border-bottom: solid 1px #e4e4e4;
}
#main>.commonwidth>.main-right>.kuaibao-content span{
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding-right: 5px;
}
#main>.commonwidth>.main-right>.category:after{
	display: block;
	content: '';
	clear: both;

}
#main>.commonwidth>.main-right>.category li{
	float: left;
	border-left: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
}
#main>.commonwidth>.main-right>.category .no-border{
	border-left:none;
}
#main>.commonwidth>.main-right>.category li>a{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	width: 61px;
	text-align: center;
	padding-top: 41px;
	position: relative;
}
#main>.commonwidth>.main-right>.category li i{
	position: absolute;
	top:  15px;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../images/57620a6fN77b2b8af.png);
}
#main>.commonwidth>.main-right>.category li .jipiao{
	background-position: 0 -25px;
}
#main>.commonwidth>.main-right>.category li .dianyingpiao{
	background-position: 0 -50px;
}
#main>.commonwidth>.main-right>.category li .youxi{
	background-position: 0 -75px;
}
#main>.commonwidth>.main-right>.category li .caipiao{
	background-position: 0 -100px;
}
#main>.commonwidth>.main-right>.category li .jiayouka{
	background-position: 0 -125px;
}
#main>.commonwidth>.main-right>.category li .jiudian{
	background-position: 0 -150px;
}
#main>.commonwidth>.main-right>.category li .huochepiao{
	background-position: 0 -175px;
}
#main>.commonwidth>.main-right>.category li .zhongchou{
	background-position: 0 -200px;
}
#main>.commonwidth>.main-right>.category li .licai{
	background-position: 0 -250px;
}
#main>.commonwidth>.main-right>.category li .lipinka{
	background-position: 0 -275px;
}
#main>.commonwidth>.main-right>.category li .baitiao{
	background-position: 0 -225px;
}
#main>.commonwidth>.main-right>.img-ad{
	margin-top: 10px;
}

/*#recommend*/
#recommend{
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
	height: 164px;
}
#recommend .watch{
	position: relative;
	float: left;
	width: 210px;
	height: 151px;
	background-image: url(../images/homebg.png);
	background-position: 0px -136px;
}
#recommend .watch>.border{
	position: absolute;
    left: 72px;
    top: 31px;
	width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 7px solid #fff;
}
#recommend .watch .o{
    position: absolute;
	content: '';
	background-color: #fff;
	width: 7px;
	height: 7px;
	top: 18px;
	left: 18px;
	border-radius: 50%;
}
#recommend .watch .h{
	position: absolute;
	top: 5px;
	left: 19px;
	width: 5px;
	height: 19px;
	background-color: #fff;
	border-radius: 2px;
}
#recommend .watch .m{
	position: absolute;
	top: 2.5px;
	left: 19px;
	width: 5px;
	height: 21px;
	background-color: #fff;
	border-radius: 2px;
	-webkit-transform-origin: 2.5px 19.5px;
	-webkit-animation-name:tick-tock;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: steps(60, end);
	-webkit-animation-delay: initial;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: initial;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: initial;

    -moz-transform-origin: 2.5px 19.5px;
	-moz-animation-name:tick-tock;
	-moz-animation-duration: 20s;
	-moz-animation-timing-function: steps(60, end);
	-moz-animation-delay: initial;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: initial;
    -moz-animation-fill-mode: initial;
    -moz-animation-play-state: initial;

    -o-transform-origin: 2.5px 19.5px;
	-o-animation-name:tick-tock;
	-o-animation-duration: 20s;
	-o-animation-timing-function: steps(60, end);
	-o-animation-delay: initial;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: initial;
    -o-animation-fill-mode: initial;
    -o-animation-play-state: initial;

    transform-origin: 2.5px 19.5px;
	animation-name:tick-tock;
	animation-duration: 20s;
	animation-timing-function: steps(60, end);
	animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
#recommend .watch .s{
	position: absolute;
	content: '';
	background-color: #5e5252;
	width: 5px;
	height: 5px;
	top: -6px;
	left: 19px;
	border-radius: 50%;
    -webkit-transform-origin: 50%  27.5px;
	-webkit-animation-duration: 10s;
	-webkit-animation-name:tick-tock;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: initial;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: initial;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: initial;

    -moz-transform-origin: 50%  27.5px;
    -moz-animation-name:tick-tock;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: initial;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: initial;
    -moz-animation-fill-mode: initial;
    -moz-animation-play-state: initial;

    -o-transform-origin: 50%  27.5px;
    -o-animation-name:tick-tock;
    -o-animation-duration: 10s;
    -o-animation-timing-function: linear;
    -o-animation-delay: initial;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: initial;
    -o-animation-fill-mode: initial;
    -o-animation-play-state: initial;

    transform-origin: 50%  27.5px;
    animation-name:tick-tock;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;

}
@-o-keyframes tick-tock{
	 to{
    	transform:rotate(360deg);
    }
}
@-webkit-keyframes tick-tock{
	 to{
    	transform:rotate(360deg);
    }
}
@-moz-keyframes tick-tock{
	 to{
    	transform:rotate(360deg);
    }
}
@keyframes tick-tock{
	 to{
    	transform:rotate(360deg);
    }
}
#recommend .rec-imgs{
	position: relative;
    width: 1000px;
    overflow: hidden;
}
#recommend .rec-imgs ul{
	/*position: absolute;*/
	position: relative;
	left: -1004px;
	height: 164px;
	width: 8192px;
}
#recommend .rec-imgs li{
    float: left;
}
#recommend .rec-imgs a{
	display: inline-block;
	float: left;
	margin-right: 1px;
}
#recommend .rec-imgs img{
    float: left;
}
#recommend .commonwidth{
	position: relative;
}
#recommend .pre{
	position: absolute;
    z-index: 2;
    padding-top: 18px;
    padding-left: 5px;
    top: 50px;
    left: 210px;
    width: 23px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}
#recommend .next{
	position: absolute;
    z-index: 2;
    padding-top: 18px;
    padding-left: 5px;
    top: 50px;
    left: 1182px;
    width: 23px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

/*guessLike*/
#guessLike{
	height: 269px;
	margin-bottom:20px;
}
#guessLike .commonwidth{
	overflow: hidden;
}
#guessLike .top{
	height: 36px;

}
#guessLike .top h3{
	float: left;
	/*height: 36px;*/
	line-height: 30px;
    font-size: 20px;
	font-family: "microsoft yahei";
    font-weight: 400;
	padding-right: 228px;
	background-image: url(../images/homebg.png);
	background-position: 85px -91px;
	color: #333;
}
#guessLike .top a{
	float: right;
	padding-right: 25px;
	margin-top: 8px;
	display: inline-block;
	background-image: url(../images/homebg.png);
	background-position: -310px -7px;
	color: rgb(102, 102, 102);
	font-size: 12px;
    font-family: Arial, Verdana, '宋体';
}
#guessLike .bottom .spacer{
	position: relative;
	height: 1px;
	background-color: #d1d1d1;
}
#guessLike .bottom .spacer i{
	position: absolute;
	width: 365px;
    height: 5px;
    top: -2px;
    background: #b72323;
    background-image: url(../images/homebg.png);
    background-position: 0 -124px;
    background-repeat: no-repeat;
    -moz-animation-name:moveRight;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-out;
	-moz-animation-delay: initial;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: initial;
    -moz-animation-fill-mode: initial;
    -moz-animation-play-state: initial;

    -webkit-animation-name:moveRight;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: initial;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: initial;
    -webkit-animation-fill-mode: initial;
    -webkit-animation-play-state: initial;

    -o-animation-name:moveRight;
	-o-animation-duration: 1s;
	-o-animation-timing-function: ease-out;
	-o-animation-delay: initial;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: initial;
    -o-animation-fill-mode: initial;
    -o-animation-play-state: initial;

    animation-name:moveRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
-moz-@keyframes moveRight{
	from{
       opacity: 0;
       right: 1210px;
	}
	 to{
	 	opacity: 1;
    	right: -1px;
    }
}
-webkit-@keyframes moveRight{
	from{
       opacity: 0;
       right: 1210px;
	}
	 to{
	 	opacity: 1;
    	right: -1px;
    }
}
-o-@keyframes moveRight{
	from{
       opacity: 0;
       right: 1210px;
	}
	 to{
	 	opacity: 1;
    	right: -1px;
    }
}
@keyframes moveRight{
	from{
       opacity: 0;
       right: 1210px;
	}
	 to{
	 	opacity: 1;
    	right: -1px;
    }
}
#guessLike .bottom ul{
	height: 210px;
    padding-top: 20px;
    overflow: hidden;
    color: #666;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;

}
#guessLike .bottom li{
	width: 201px;
	float: left;
    overflow: hidden;
    padding-bottom: 15px;
}
#guessLike .bottom li>div:first-child{
	text-align: center;
    margin-bottom: 10px;
}
#guessLike .bottom li>div:last-child{
	padding: 0 36px;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	border-left: 1px solid #e6e6e6;
}
#guessLike .bottom li>div:last-child:first-child{
	border-left:none;
}
#guessLike .bottom li>div:last-child>a{
	display: inline-block;
	height: 37px;
	overflow: hidden;
}
#guessLike .bottom li>div:last-child>span{
	color: #b51d1a;
    font-size: 18px;
}


/*qualityLife*/
#qualityLife{
	margin-bottom: 20px;
}
#qualityLife h2{
    color: #333;
    font-size: 20px;
    line-height: 36px;
    font-family: "microsoft yahei";
    font-weight: 400;
}
#qualityLife .qL-content{
	height: 405px;
    border: 1px solid #ededed;
    overflow: hidden;
}
#qualityLife .content-1,#qualityLife .content-3{
	background-color: #f7f7f7;
}
#qualityLife .qL-content>div{
	float: left;
	height: 100%;
}
#qualityLife .item,
#qualityLife .small-item{
	display: block;
	position: relative;
}
#qualityLife .small-item{
	float: left;
}
#qualityLife .content-1>.small-item,
#qualityLife .content-3>.small-item{
	width: 201px;
}
#qualityLife .item{
	border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
	height: 246px;
}
#qualityLife .small-item{
	border-right: 1px solid #ededed;
}
#qualityLife .content-1>.item,
#qualityLife .content-3>.item{
	width: 403px;
}
#qualityLife .content-2>.item{
    width: 228px;
}
#qualityLife .item>p{
    font: 700 15px/40px 'Microsoft Yahei';
    color: #333;
    text-align: center;
    border-bottom: 1px dashed #e0e0e0;
    margin: 0 20px;
}
#qualityLife .tet-con{
	position: absolute;
	color: #333;
    font-family: 'Microsoft Yahei';
    line-height: 1.2;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}
#qualityLife .content-1>.item>.tet-con{
	position: absolute;
    left: 45px;
    top: 109px;
}
#qualityLife .content-1>.small-item>.tet-con,
#qualityLife .content-2>.small-item>.tet-con,
#qualityLife .content-3>.small-item>.tet-con{
	position: absolute;
    left: 10px;
    top: 48px;
}
#qualityLife .content-2>.item>.tet-con{
    position: absolute;
    left: 10px;
    top: 109px;
}
#qualityLife .item>.tet-con>p:first-child,
#qualityLife .small-item>.tet-con>p:first-child{
	font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}
#qualityLife .item>.tet-con>p:nth-child(2),
#qualityLife .small-item>.tet-con>p:nth-child(2){
	margin-bottom: 4px;
}
#qualityLife .item>.tet-con>p:last-child,
#qualityLife .small-item>.tet-con>p:last-child{
	color: #c81623;
}
#qualityLife .content-4{
	width: 171px;
}
#qualityLife .content-4 .left,
#qualityLife .content-4 .right{
	position: relative;
	width: 75px;
	float: left;
    margin-top: 13px;
}
#qualityLife .content-4 .left{
    border-right: 1px dashed #e0e0e0;
}
#qualityLife .content-4 li{
	position: relative;
	width: 74px;
	height: 57px;
	border-bottom: 1px dashed #e0e0e0;
}
/*floor-banner*/
#floor .floor-banner{
	margin-left: 5px;
	margin-right: 5px;
}
#floor .floor-banner a{
	float: left;
	display: block;
	width: 400px;
	height: 125px;
	overflow: hidden;
}

/*#floor中的各个楼层*/
/*公共属性*/
#floor>div{
	margin-bottom:30px;
}
#floor a:hover{
	color: #C81623;
}
#floor .m-c-body{
	position: relative;
}
#floor .clo-top{
	border-bottom: 1px solid #c81623;
    overflow: visible;
    position: relative;
    height: 36px;
}
#floor .clo-top>h2{
	position: relative;
	padding-left: 40px;
    color: #333;
    float: left;
    line-height: 30px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
}
#floor .clo-top>h2>i:first-child{
	content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 31px;
    height: 25px;
    background-image: url(../images/product_home_1.0.0.png);
    background-position: 0 -35px;
}
#floor .clo-top>h2>i:nth-child(2){
	position: absolute;
    top: 2px;
    left: -1px;
    width: 21px;
    height: 25px;
    padding-right: 10px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
#floor .clo-top>ul{
	float: right;
	margin-top: 1px;
	border: solid 1px #ededed;
    border-bottom: none;
    height: 34px;
    line-height: 34px;
}
#floor .clo-top>ul>li{
	float: left;
	position: relative;
	height: 34px;
	/*z-index: 11;*/
}
#floor .clo-top>ul>li>a{
	float: left;
	display: inline-block;
    padding: 0 16px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    line-height: 34px;
    height: 34px;
    /*position: absolute;*/
}
#floor .clo-top>ul>.hover>a{
    border-left: solid 1px #c81623;
    border-right: solid 1px #c81623;
    border-top: solid 3px #c81623;
    /*border-bottom: solid 1px #fff;*/
    position: absolute;
    height: 33px;
    line-height: 31px;
    top: -1px;
    left: -1px;
    color: #c81623;
    z-index: 11;
    text-indent: 1px;
    background: #FFF;
}
#floor .clo-top>ul>li span{
	display: inline-block;
	position: absolute;
    width: 1px;
    background: #ccc;
    overflow: hidden;
    height: 14px;
    top: 12px;
    right:0px;
    z-index: 10;
}
#floor .side{
	float: left;
    overflow: hidden;
    font-family: "microsoft yahei";
}
#floor .floor1 .side，
#floor .floor3 .side{
	width: 330px;
}
#floor .floor2 .side{
	width: 210px;
}
#floor .side-top{
	position: relative;
    background: #e5ebeb;
    overflow: hidden;
}
#floor .side-top .bkgd{
	position: relative;
	height: 474px;
}
#floor .side-top .bkgd i{
	content: "";
    position: absolute;
    width: 80px;
    height: 350px;
    background-color: red;
    top: 0;
    left: -150px;
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transform: skewX(-25deg);
    background:-webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,0.3)50%,rgba(255,255,255,0)100%);
}
#floor .side-top .themes{
	position: relative;
	height: 92px;
	overflow: hidden;
    background: rgba(255,255,255,.5);
}
#floor .floor1 .side-top .themes{
    padding-left: 25px;
    margin-top: -221px;
}
#floor .floor2 .side-top .themes,
#floor .floor6 .side-top .themes,
#floor .floor7 .side-top .themes{
    padding-left: 10px;
    margin-top: -237px;

}
#floor .floor3 .side-top .themes,
#floor .floor4 .side-top .themes,
#floor .floor5 .side-top .themes{
    padding-left: 25px;
    margin-top: -237px;
    height: 46px;
}
#floor .floor4 .side-top .themes{
    height: 46px;
    padding-left: 10px;
    margin-top: -237px;
}
#floor .side-top .themes li{
	width: 100px;
	float: left;
    height: 26px;
    padding: 10px 0;
    background-repeat: no-repeat;
}
#floor .floor4 .side-top .themes li{
    width: 145px;
    padding: 10px 0 10px 15px;
}
#floor .side-top .themes li i{
	float: left;
    line-height: 26px;
    height: 26px;
    width: 26px;
    margin-right: 5px;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat;
}
#floor .side-top .themes li span{
    display: block;
    height: 26px;
    line-height: 26px;
}
#floor .floor1 .side-top .themes li i{
    background-image: url(../images/clothesicon.png);
}
#floor .floor2 .side-top .themes li i{
    background-image: url(../images/cosmeticsicon.png);
}
#floor .floor3 .side-top .themes li i{
    background-image: url(../images/mobilesicon.png);
    height: 25px;
}
#floor .floor4 .side-top .themes li i{
	background-image: url(../images/electronicsicon.png);
}
#floor .floor5 .side-top .themes li i{
	background-image: url(../images/digitalsicon.png);
    height: 25px;
}
#floor .floor6 .side-top .themes li i{
    background-image: url(../images/sportsicon.png);
}
#floor .floor7 .side-top .themes li i{
    background-image: url(../images/livingsicon.png);
}
#floor .floor1 .side-top .themes li:nth-child(1) i{
    background-position: 0 0;
}
#floor .floor1 .side-top .themes li:nth-child(2) i{
    background-position: 0 -26px;
}
#floor .floor1 .side-top .themes li:nth-child(3) i{
    background-position: 0 -52px;
}
#floor .floor1 .side-top .themes li:nth-child(4) i{
    background-position: 0 -78px;
}
#floor .floor1 .side-top .themes li:nth-child(5) i{
    background-position: 0 -104px;
}
#floor .floor1 .side-top .themes li:nth-child(6) i{
    background-position: 0 -130px;
}
#floor .floor2 .side-top .themes li:nth-child(1) i{
	background-position: 0 0px;
}
#floor .floor2 .side-top .themes li:nth-child(2) i{
	background-position: 0 -26px;
}
#floor .floor2 .side-top .themes li:nth-child(3) i{
	background-position: 0 -52px;
}
#floor .floor2 .side-top .themes li:nth-child(4) i{
	background-position: 0 -78px;
}
#floor .floor4 .side-top .themes li:nth-child(2) i{
	background-position: 0 -26px;
}
#floor .floor5 .side-top .themes li:nth-child(1) i{
    background-position: 0 0px;
}
#floor .floor5 .side-top .themes li:nth-child(2) i{
    background-position: 0 -26px;
}
#floor .floor5 .side-top .themes li:nth-child(3) i{
    background-position: 0 -52px;
}
#floor .floor6 .side-top .themes li:nth-child(1) i{
    background-position: 0 0px;
}
#floor .floor6 .side-top .themes li:nth-child(2) i{
    background-position: 0 -26px;
}
#floor .floor6 .side-top .themes li:nth-child(3) i{
    background-position: 0 -52px;
}
#floor .floor6 .side-top .themes li:nth-child(4) i{
    background-position: 0 -78px;
}
#floor .floor7 .side-top .themes li:nth-child(1) i{
    background-position: 0 0px;
}
#floor .floor7 .side-top .themes li:nth-child(2) i{
    background-position: 0 -26px;
}
#floor .floor7 .side-top .themes li:nth-child(3) i{
    background-position: 0 -52px;
}
#floor .floor7 .side-top .themes li:nth-child(4) i{
    background-position: 0 -78px;
}
#floor .assists{
    position: relative;
    height: 48px;
    padding: 21px 0 0;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    background: rgba(255,255,255,.7);
}
#floor .assists li{
	float: left;
    width: 180px;
    height: 24px;
    padding-left: 25px;
    overflow: hidden;
}
#floor .floor3 .assists li,
#floor .floor4 .assists li,
#floor .floor5 .assists li{
    width: 135px;
} 
#floor .side-top .words{
	position: relative;
    background: rgba(255,255,255,.7);
    font-family: \5b8b\4f53;
}
#floor .floor1 .side-top .words{
	height: 128px;
    border-bottom: 1px solid #ededed;
}
#floor .floor2 .side-top .words,
#floor .floor6 .side-top .words,
#floor .floor7 .side-top .words{
    height: 76px;
}
#floor .floor3 .side-top .words,
#floor .floor4 .side-top .words,
#floor .floor5 .side-top .words{
    height: 122px;
}
#floor .floor1 .side-top .words li{
    float: left;
	height: 96px;
    width: 135px;
    padding: 16px 0 0 25px;
    overflow: hidden;
}
#floor .floor2 .side-top .words li,
#floor .floor6 .side-top .words li,
#floor .floor7 .side-top .words li{
	width: 165px;
	float: left;
    height: 48px;
    padding: 7px 0 0 25px;
    overflow: hidden;
}
#floor .floor3 .side-top .words li,
#floor .floor4 .side-top .words li,
#floor .floor5 .side-top .words li{
    width: 135px;
	float: left;
    height: 96px;
    padding: 7px 0 0 25px;
    overflow: hidden;
}
#floor .side-top .words li a{
	float: left;
	margin-right: 10px;
    line-height: 24px;
    color: #999;
}
#floor .side-top .words li a:hover{
    color: #C81623;
}
#floor .side-top .words li a span{
	color: #C81623;
}
#floor .floor1 .side-bottom{
	width: 328px;
    height: 157px;
    border: 1px solid #ededed;
    border-left: 1px solid #f7f5ee;
    border-top: 0;
    overflow: hidden;
}
#floor .floor1 .side-bottom a{
	display: block;
	height: 158px;
}
#floor .main{
	float: left;
	position: relative;
}
#floor .floor1 .main{
	width: 880px;
	height: 633px;
}
#floor .floor3 .main,
#floor .floor4 .main,
#floor .floor5 .main{
    width: 880px;
	height: 474px;
}
#floor .floor2 .main,
#floor .floor6 .main,
#floor .floor7 .main{
	width: 1000px;
	height: 474px;
}
/*一楼的第一页*/
#floor .floor1 .normal-l{
	float: left;
    width: 660px;
}
#floor .floor1 .normal-l li{
	float: left;
    height: 158px;
    overflow: hidden;
    width: 220px;
}
#floor .floor1 .normal-l li>a{
	display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
    height: 157px;
}
#floor .floor1 .normal-l .l-1{
	width: 440px;
}
#floor .floor1 .normal-l .l-2{
	width: 440px;
	padding-top: 316px;
}
#floor .floor1 .normal-l .l-3{
	margin-top: -158px;
}
#floor .floor1 .normal-r{
	float: right;
	width: 220px;
}
#floor .floor1 .normal-r li{
	float: left;
    width: 220px;
    float: left;
    height: 158px;
    overflow: hidden;
}
#floor .floor1 .normal-r .r-3{
	height: 316px;
}
#floor .floor1 .normal-r li a{
	display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
    height: 157px;
}
#floor .floor1 .normal-r .r-3 a{
	height: 315px;
}
#floor .brands{
	background: #f7f7f7;
    padding: 13px 0 13px 11px;
    margin-top: 10px;
}
#floor .brands ul{
	height: 40px;
}
#floor .brands li{
	float: left;
    width: 119px;
    height: 40px;
    border-left: 1px dotted #ccc;
    text-align: center;
}
#floor .brands li:first-child{
	border: none;
}
#floor .floor1 .main-carousel{
	position: absolute;
	width: 439px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	overflow: hidden;
	top: 158px;
}
#floor .floor1 .main-carousel .m-c-body{
	width: 2634px;
	height: 315px;
	overflow: hidden;
	position: relative;
	left: -439px;
}
#floor .floor1 .main-carousel .m-c-body li{
    float: left;
} 
#floor .floor1 .main-carousel .pre{
    top: 130px;
    left: 0px;
}
#floor .floor1 .main-carousel .next{
    top: 130px;
    left: 411px;
}
#floor .floor1 .main-carousel .m-c-buttons{
    bottom: 15px;
    left: 200px;
}

#floor .main-carousel .pre{
    position: absolute;
    z-index: 2;
    padding-top: 18px;
    padding-left: 5px;
    width: 23px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#floor .main-carousel .next{
    position: absolute;
    z-index: 2;
    padding-top: 18px;
    padding-left: 5px;
    width: 23px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#floor .main-carousel .m-c-buttons{
    position: absolute;
}
#floor .main-carousel .m-c-buttons li{
	float: left;
	width: 9px;
    height: 9px;
    background: #3e3e3e;
    border-radius: 50%;
    margin: 0 2px;
}
#floor .main-carousel .m-c-buttons .select{
	background: #b61b1f;
}
/*二楼的第一页*/
#floor .floor2 .main-normal{
	float: right;
	width: 660px;
}
#floor .floor2 .main-normal li{
    float: left;
	overflow: hidden;
	width: 220px;
}
#floor .floor2 .main-normal .n-1,
#floor .floor2 .main-normal .n-2,
#floor .floor2 .main-normal .n-3{
	height: 297px;
}
#floor .floor2 .main-normal .n-4,
#floor .floor2 .main-normal .n-5,
#floor .floor2 .main-normal .n-6{
    height: 177px;
}
#floor .floor2 .main-normal li a{
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	display: block;
	overflow: hidden;
}
#floor .floor2 .main-normal .n-1 a,
#floor .floor2 .main-normal .n-2 a,
#floor .floor2 .main-normal .n-3 a{
    height: 296px
}
#floor .floor2 .main-normal .n-4 a,
#floor .floor2 .main-normal .n-5 a,
#floor .floor2 .main-normal .n-6 a{
    height: 176px;
}
#floor .floor2 .main-normal .n-1 img,
#floor .floor2 .main-normal .n-2 img,
#floor .floor2 .main-normal .n-3 img{
	height: 296px;
	width: 219px;
	overflow: hidden;
}
#floor .floor2 .main-normal .n-4 img,
#floor .floor2 .main-normal .n-5 img,
#floor .floor2 .main-normal .n-6 img{
	float: left;
    height: 176px;
    width: 219px;
    overflow: hidden;
}
#floor .floor2 .main:first-child{
	position: relative;
}
#floor .floor2 .main-carousel,
#floor .floor6 .main-carousel,
#floor .floor7 .main-carousel{
	position: absolute;
	overflow: hidden;
	width: 339px;
}
#floor .floor2 .m-c-body,
#floor .floor6 .m-c-body,
#floor .floor7 .m-c-body{
	width: 2034px;
}
#floor .floor2 .m-c-body li,
#floor .floor6 .m-c-body li,
#floor .floor7 .m-c-body li{
	float: left;
	width: 339px;
	overflow: hidden;
}
#floor .floor2 .m-c-body li>a:first-child,
#floor .floor6 .m-c-body li>a:first-child,
#floor .floor7 .m-c-body li>a:first-child{
	display: block;
	height: 296px;
	width: 339px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
}
#floor .floor6 .m-c-body li>a:first-child,
#floor .floor7 .m-c-body li>a:first-child{
	height: 236px;
}
#floor .floor2 .m-c-body li>a:last-child{
	display: block;
	height: 176px;
	border-bottom: 1px dotted #EDEDED;
}
#floor .floor6 .m-c-body li>a:last-child,
#floor .floor7 .m-c-body li>a:last-child{
	display: block;
	height: 236px;
	border-bottom: 1px dotted #EDEDED;
}
#floor .floor2 .main-carousel .pre{
    top: 130px;
    left: 0px;
}
#floor .floor2 .main-carousel .next{
    top: 130px;
    left: 311px;
}
#floor .floor2 .main-carousel .m-c-buttons{
    bottom: 15px;
    left: 150px;
}

/*三楼,四楼,五楼的第一页*/
#floor .floor3 .main-normal,
#floor .floor4 .main-normal，
#floor .floor5 .main-normal{
	width: 880px;
	float: left;
}
#floor .floor3 .normal-l,
#floor .floor4 .normal-l,
#floor .floor5 .normal-l{
	float: left;
	margin-top: 236px;
}
#floor .floor3 .normal-l li,
#floor .floor4 .normal-l li,
#floor .floor5 .normal-l li{
	height: 237px;
}
#floor .floor3 .normal-r .r-1,
#floor .floor3 .normal-r .r-2,
#floor .floor3 .normal-r .r-3,
#floor .floor3 .normal-r .r-4,
#floor .floor4 .normal-r .r-1,
#floor .floor4 .normal-r .r-2,
#floor .floor4 .normal-r .r-3,
#floor .floor4 .normal-r .r-4,
#floor .floor5 .normal-r .r-1,
#floor .floor5 .normal-r .r-2,
#floor .floor5 .normal-r .r-3,
#floor .floor5 .normal-r .r-4{
    height: 118px;
}
#floor .floor3 .normal-r .r-5,
#floor .floor3 .normal-r .r-6,
#floor .floor4 .normal-r .r-5,
#floor .floor4 .normal-r .r-6,
#floor .floor5 .normal-r .r-5,
#floor .floor5 .normal-r .r-6{
	height: 237px;
}
#floor .floor3 .main-normal li,
#floor .floor4 .main-normal li,
#floor .floor5 .main-normal li{
	float: left;
	width: 220px;
	overflow: hidden;
}
#floor .floor3 .main-normal li a,
#floor .floor4 .main-normal li a,
#floor .floor5 .main-normal li a{
	width: 219px;
	display: block;
	overflow: hidden;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
#floor .floor3 .normal-r .r-1 a,
#floor .floor3 .normal-r .r-2 a,
#floor .floor3 .normal-r .r-3 a,
#floor .floor3 .normal-r .r-4 a,
#floor .floor4 .normal-r .r-1 a,
#floor .floor4 .normal-r .r-2 a,
#floor .floor4 .normal-r .r-3 a,
#floor .floor4 .normal-r .r-4 a,
#floor .floor5 .normal-r .r-1 a,
#floor .floor5 .normal-r .r-2 a,
#floor .floor5 .normal-r .r-3 a,
#floor .floor5 .normal-r .r-4 a{
    height: 117px;
}
#floor .floor3 .normal-r .r-5 a,
#floor .floor3 .normal-r .r-6 a,
#floor .floor4 .normal-r .r-5 a,
#floor .floor4 .normal-r .r-6 a,
#floor .floor5.normal-r .r-5 a,
#floor .floor5 .normal-r .r-6 a{
    height: 236px;
}
#floor .floor3 .normal-l li a,
#floor .floor4 .normal-l li a,
#floor .floor5 .normal-l li a{
	height: 236px;
}
#floor .floor3 .main-carousel,
#floor .floor4 .main-carousel,
#floor .floor5 .main-carousel{
	position: absolute;
	top:0;
	left: 0;
	width: 439px;
	height: 236px;
	overflow: hidden;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
#floor .floor3 .main-carousel .m-c-body,
#floor .floor4 .main-carousel .m-c-body,
#floor .floor5 .main-carousel .m-c-body{
	width: 2634px;
	height: 236px;
}
#floor .floor3 .main-carousel .m-c-body li,
#floor .floor4 .main-carousel .m-c-body li,
#floor .floor5 .main-carousel .m-c-body li{
	float: left;
	width: 439px;
	height: 236px;
}
#floor .floor3 .main-carousel .pre,
#floor .floor4 .main-carousel .pre,
#floor .floor5 .main-carousel .pre{
    top: 87px;
    left: 0px;
}
#floor .floor3 .main-carousel .next,
#floor .floor4 .main-carousel .next,
#floor .floor5 .main-carousel .next{
    top: 87px;
    left: 411px;
}
#floor .floor3 .main-carousel .m-c-buttons,
#floor .floor4 .main-carousel .m-c-buttons,
#floor .floor5 .main-carousel .m-c-buttons{
    bottom: 15px;
    left: 200px;
}
/*六楼 七楼的第一页*/
#floor .floor6 .main-normal li,
#floor .floor7 .main-normal li{
	float: left;
    height: 237px;
    width: 220px;
    overflow: hidden;
}
#floor .floor6 .main-normal li a,
#floor .floor7 .main-normal li a{
	display: block;
	width: 219px;
	height: 236px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}
#floor .floor6 .main-normal li:nth-child(2),
#floor .floor6 .main-normal li:nth-child(5),
#floor .floor7 .main-normal li:nth-child(2),
#floor .floor7 .main-normal li:nth-child(5){
	margin-left: 339px;
}
#floor .floor6 .main-carousel,
#floor .floor7 .main-carousel{
	top: 0px;
	left: 220px;
}
#floor .floor6 .main-carousel .pre,
#floor .floor7 .main-carousel .pre{
	top: 206px;
	left: 0px;
}
#floor .floor6 .main-carousel .next,
#floor .floor7 .main-carousel .next{
	top: 206px;
	left: 310px;
}
#floor .floor6 .main-carousel .m-c-buttons,
#floor .floor7 .main-carousel .m-c-buttons{
    top: 440px;
	left: 150px;
}
/*一些公共的属性*/
#floor .main-top li{
	float: left;
	height: 230px;
	padding: 6px 17px 0;
	border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
}
#floor .floor1 .main-top li,
#floor .floor3 .main-top li,
#floor .floor4 .main-top li,
#floor .floor5 .main-top li{
	width: 185px;
}
#floor .floor2 .main-top li,
#floor .floor6 .main-top li,
#floor .floor7 .main-top li{
	width: 165px;
}
#floor .floor1 .main-top a{
	display: block;
}
#floor .main-top div{
	height: 140px;
	margin-top: 15px;
	margin-bottom: 4px;
	text-align: center;
}
#floor .floor1 .main-top div{
	width: 185px;
    
}
#floor .floor2 .main-top div{
	width: 165px;
}
#floor .main-top img{
	width: 130px;
	height: 130px;
}
#floor .main-top .name{
	height: 3em;
	margin-bottom: 3px;
}
#floor .main-top .price{
	position: relative;
	top: -3px;
	font-size: 15px;
    font-family: Verdana;
    color: #E4393C;
}
#floor .floor1 .main-bottom li{
	float: left;
    width: 219px;
    height: 158px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
}

/*service*/
#service{
	width: 100%;
	height: 54px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 14px;
	background-color: #F5F5F5;
}

#service .s-top>div{
	width: 220px;
	height: 54px;
	margin-left: 40px;
	margin-right: 40px;
	overflow: hidden;
	float: left;
}
#service .s-top{
	margin: 0 auto;
	width: 1200px;
}
#service .duo{
	background-image: url(../images/service_items_1.png);
}
#service .kuai{
	background-image: url(../images/service_items_2.png);
}
#service .hao{
	background-image: url(../images/service_items_3.png);
}
#service .sheng{
	background-image: url(../images/service_items_4.png);
}
/*bottom*/
#bottom a:hover{
	color: #c81623;
}
#bottom>dl{
	float: left;
}
#bottom dt{
	width: 199px;
	height: 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	font: 400 16px/24px "microsoft yahei";
	color: rgb(102, 102, 102);
}
#bottom .s-b-1,
#bottom .s-b-2,
#bottom .s-b-3,
#bottom .s-b-4{
	width: 199px;
}
#bottom .s-b-5{
	width: 100px;
}
#bottom .s-b-6{
	width: 310px;
	height: 168px;
	background-image: url(../images/20130330B_1.png);
	background-position: 60px -131px;
	background-repeat: no-repeat;
}
#bottom dd{
	line-height: 20px;
}
#bottom .s-b-6 dt{
	width: 310px;
	padding-left: 80px;
	padding-bottom: 15px;
}
#bottom .s-b-6 dd{
	padding: 0 40px 15px 80px;
}
#bottom .s-b-6 dd>p:last-child{
	text-align: right;
}
